.tile{
	display: inline-block;
	width: 3.08rem;
	height: 3rem;
	margin-left: 0.19rem;
	margin-top:0.1rem;
	background: #ccc;
	border-radius: 0.1rem;
	position: relative;
}
.tile_ico{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%,-80%);
	transform:translate(-50%,-80%);
	width: 1rem;
	height: 1rem;
	background: #666;
}
 .tile_title{
 	position: absolute;
 	top: 70%;
 	text-align: center;
 	width: 100%;
 }