.Comment{
	width: 9.22rem;
	min-height: 1rem;
	margin: 0 auto;
	position: relative;
	padding: 0.3rem 0;
}
.Comment:after{
	content: '';
	display: block;
	clear: both;
}
.CommentAvatar{
	width: 0.8rem;
	position: absolute;
	top: 0.3rem;
	left: 0;
	bottom: 0;
}
.CommentAvatar img{
	width: 0.8rem;
}
.CommentContent{
	width: 8.1rem;
	float: right;
	position: relative;
}
.CommentUserName{
	float: left;
	color: #969696;
}
.CommentTime{
	float: right;
	color: #969696;
	text-align: right;
}
.CommentCont{
	display: block;
	clear: both;
	margin-top: 0.8rem;
	color: #565656;
	line-height: 1.5em;
}
.CommentStarRate{
	position: absolute;
	top: 0.5rem;
}