.MediaItem{
	width:4.85rem;
	height:4rem;
	margin-left: 0.1rem;
	margin-top: 0.2rem;
	float: left;
	background: #e6e6e6; 
	overflow: hidden;
	position: relative;
}
.MediaItem_thumbCntr{
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 0.7rem;
}
.MediaItem_thumbCntr img{
	height: 100%;
	width: 100%;
}
[data-dpr="2"] .MediaItem_thumbCntr{
	top: 3px;
	left: 3px;
	right: 3px;
}
.MediaItem_title{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	line-height: 0.7rem;
	color: #2e2d2d;
}
.MediaItem_thumb{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
}
.MediaItem_time{
	color: #fff;
	position: absolute;
	right: 0.1rem;
	bottom: 0.05rem;
}
.MediaItem_ico{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 5;
	height: 1.2rem;
	width: 1.2rem;
	background-image:url(./images/mediaIco.png);
	background-repeat: no-repeat;
	background-size: 1.2rem;
}