body{
	font-family: 'Microsoft YaHei';
}
.f14{
	font-size: 14px;
}
[data-dpr="2"] .f14 {
    font-size: 28px;
}

[data-dpr="3"] .f14 {
    font-size: 42px;
}
.f16{
	font-size: 16px;
}
[data-dpr="2"] .f16 {
    font-size: 32px;
}

[data-dpr="3"] .f16 {
    font-size: 48px;
}
.f18{
	font-size: 18px;
}
[data-dpr="2"] .f18 {
    font-size: 36px;
}

[data-dpr="3"] .f18 {
    font-size: 54px;
}

.f24{
    font-size: 24px;
}
[data-dpr="2"] .f24 {
    font-size: 48px;
}

[data-dpr="3"] .f24 {
    font-size: 72px;
}