.Progress {
	width: 1.2rem;
	height: 1.2rem;	
	position: absolute;
	border-radius: 50%;
	background: #e6e6e6;
}
.pie_left, .pie_right {
	width: 1.2rem;
	height: 1.2rem; 
	position: absolute;
	top: 0;left: 0;
}
.left, .right {
	display: block;
	width: 1.2rem;
	height: 1.2rem; 
	background:#62bdf5;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.pie_right, .right {
	clip:rect(0,auto,auto,0.6rem);
}
.pie_left, .left {
	clip:rect(0,0.6rem,auto,0);	
}
.mask {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	left: 0.1rem;
	top: 0.1rem;
	background: #FFF;
	position: absolute;
	text-align: center;
	line-height: 1rem;
}