.CommentList{
	margin-top:0.2rem;
}
.CommentListTitle{
	margin-left: 0.39rem;
	color: #3b3b3b;
	font-weight: bold;
}
.CommentListCount{
	color: #969696;
}
.CommentListList li{
	border-bottom: #dadada 1px solid;
}