.TeacherList_banner{
	margin-top: 1.2rem;
	width: 10rem;
	height: 3.6rem;
	background-repeat:no-repeat;
	background-size: 10rem auto;
	background-position: center;
}
.TeacherList_list{
	width: 10rem;
}
.TeacherList_list li{
	position: relative;
	height: 2.6rem;
	padding: 0.3rem;
	box-sizing:border-box;
	border-bottom:#dedede 1px solid;
}
.TeacherList_avatar{
	float: left;
	width: 1.9rem;
	height: 1.9rem;
	overflow: hidden;
	border-radius: 2rem;
}
.TeacherList_avatar img{
	width: 1.9rem;
	height: 1.9rem;
}
.TeacherList_infoCntr{
	float: left;
	width: 6.8rem;
	margin-left: 0.4rem;
	height: 100%;
	color: #959595;
}
.TeacherList_name{
	display: block;
	font-weight: bold;
	color: #404040;
}
.TeacherList_school{
	display: block;
	margin-top: 0.2rem;
}
.TeacherList_evaluationItem{
	float: left;
	margin-right: 0.5rem;
	line-height: 0.8rem;
}
.TeacherList_number{
	color: #f05510;
	font-family: 'Vani';
	margin-left: 0.2rem;
}
.TeacherList_followBtn{
	position: absolute;
	top: 0.33rem;
	right: 1rem;
	width: 1.2rem;
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	background: #73bbe7;
	color: #fff;
	border-radius: 0.1rem;
}